<?xml version="1.0" encoding="UTF-8"?>
<Configuration name="Logging Config" status="warn" strict="true">
  <Properties>
    <Property name="exprcalculator.layoutPattern">
      [%-5level][%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ}][%t][%logger] %msg%n
    </Property>
  </Properties>
  <Appenders>
    <Console name="stdout" target="system_out">
      <Layout type="PatternLayout" charset="${exprcalculator.charset}">
        <Pattern>${exprcalculator.layoutPattern}</Pattern>
      </Layout>
    </Console>
  </Appenders>
  <Loggers>
    <Root level="warn">
      <AppenderRef ref="stdout"/>
    </Root>
    <Logger name="stincmale.exprcalculator" additivity="false" level="off">
      <AppenderRef ref="stdout"/>
    </Logger>
  </Loggers>
</Configuration>
